body {
    background-image: url(../assets/images/purty_wood.png);
}
.navbar-default {
    background-color: #212121;
}
.navbar-brand {
    font-size: 16pt;
    color: whitesmoke;
}

li {
    margin: 10px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    margin-top: 10px;
    margin-left: 10px;
    color: #212121;
}

footer {
    background-color: #212121;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    border-top: 5px solid;
    border-top-color:whitesmoke;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 9pt;
    padding-top: 50px;
}